.footballHeader{
  font-weight: bold;
}
table, td {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

th{
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  background-color: #55656A; 
}
