body{
  padding-left:3%;
  padding-right:3%;
  background-color: #F4F7F6;
}
.websiteTitle{
  color: #313940;
  float:left;
  width:70%;
  font-size:40px;
  padding-right:5%;
  margin-top:1%;
  margin-bottom:.5%;
  font-family: 'Source Sans Pro', sans-serif;
}
.topOfSite{
  margin-top:1%;
  margin-bottom:0%;
  width:95%;
  float:left;
  border-bottom: 2px solid;
  border-color: #313940;
}
.twitterBird{
  float:right;
  width: 46px;
  margin-top:1%;
}
a:link{
  color:#313940;
}
a:visited{
  color:#313940;
}
a:hover{
  color:#55656A;
}
li{
  display:inline;
  float:left;
  padding-right:3%;
  padding-top:1%;
}
.headersWithLinks{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:22px;
  list-style: none;
  margin-left:2%;
  padding:0;
}
ul{
  color: #313940;
  clear:left;
  padding-top:3%;
  margin-left:5%;
}
