div.footballImage{
  float:left;
  clear:left;
}
.footballPic{
  display: block;
  width:50%;
  padding:5%;
  padding-bottom:0%;
  margin-left: auto;
  margin-right: auto;
}
#footballimagecaption{
  display:block;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-size:14px;
}
